.header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.stats-wrapper {
    display: flex;
    align-items: center;
}

.stats-wrapper > * {
    margin: 0 20px 0 20px;
}